.app {
  color: #222;
}

.option {
  padding: 10px 20px;
  border: 1px solid #ccc;
  text-align: center;
  display: inline-block;
  box-sizing: border-box;
  display: inline-flex;
  font-size: 20px;
}

.option span {
  color: red;
  font-weight: bold;
  margin-right: 5px;
}

.answer input {
  width: 30px;
  height: 100%;
  display: inline-block;
  font-weight: bold;
  height: 100%;
  font-size: 20px;
  margin: 4px;
}

.answer {
  padding: 10px 20px;
  border: 1px solid #ccc;
  text-align: center;
  display: inline-block;
  box-sizing: border-box;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.correct {
  background-color: #6fff25;
}

.wrong {
  background-color: #ff5200;
}